 
img{
    width: 100%;
}
.logo-img{
    width: 300px;
}
.women-card{
    width: 310px;
    height: 400px;
    padding: 30px;
    margin: 15px 20px 5px 20px;
    background-color: #F1F1F1;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.card-jacket{
    border: 0;
}
.card-jacked-footer{
    border: 0;
    background-color: white;
}
.yellow-jacked{
    width: 300px;
    height: 350px;
    margin: 0 -23px;
    
}
.perfect-area{
    height: 100px;
}
.man-lather-jacked{
    height: 350px;
}
.find-logo{
    width: 50px;
}
h1{
    color: #363958;
}
.off-area{
    margin: -57px -22px;
}
.before-responsive img{
    margin-top: -2px;
    order: 0;
     
}
.bg-set{
    background-color: #FFFBF0;
     
}
.bg-set-owner{
    background-color: #FFFBF0;
    height: 650px;
    margin-top: -50px;
}
 
 